.hidden {
	display: none;
}

.bodytextbox {
	padding: 10px;
	border: none;
	border-radius: 10px;
	background: #17a7d3;
	color: #ffffff;
	font-size: 20px;
}

/* Main Buttons */
.exitBtn {
	padding: 5px;
	width: 50px;
	height: 50px;
}

/* Prompt */
.arrow-up {
	position: absolute;
	top: -8px;
	left: 10%;
	transform: translateX(-50%);
	border-right: 5px solid transparent;
	border-bottom: 8px solid #15c1c1;
	border-left: 5px solid transparent;
}

/* Nav Bar*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	padding: 10px 20px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #17a7d3;
	color: #020202;
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-links img {
	max-width: 60%;
	background-color: white;
	border-radius: 10px;
	padding: 0.5em;
	box-sizing: border-box;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 1em;
	padding: 10px;
	width: 100%;
	border-top: 1px solid #d9d9d9;
}

/* Table */
.apptTable {
	margin: 0 0 0 2em;
	width: calc(100% - 50px);
	border: none;
	border-collapse: collapse;
	font-size: 12px;
}

.apptTable caption {
	padding: 0 0 10px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.appointment-modal {
	padding: 2em 0 2em 0;
	margin: 0 6em 0 6em;
	background-color: #f2f2f2;
	border-radius: 10px;
}

th,
td,
tr {
	padding: 8px;
	border: none;
	text-align: left;
}

th {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-left: none;
	/*text-align:left;*/
}

td input[type='text'] {
	width: 80%;
	height: 80%;
}
td button {
	border: none;
	background: none;
	margin-right: 1em;
	width: 3em;
	height: 3em;
}

/* Hero */
.appointment-hero {
	display: flex;
}

.appointment-hero button {
	margin: 2em 5.5em 0 auto;
}

.appointment-hero table {
	width: 100%;
	border-radius: 10px;
	margin: 2.5em 8em 3em 3em;
	background-color: #f2f2f2;
	border: none;
	border-collapse: collapse;
	font-size: 12px;
}

.appointment-hero table caption {
	padding: 0 0 10px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.appointment-hero table th,
.appointment-hero table td {
	padding: 1.4em;
	text-align: left;
}

.appointment-card {
	display: flex;
	flex-direction: column;
	text-align: start;
	width: 15em;
	height: 10em;
	padding: 3em 2em 0.5em 1em;
	margin: 2em 0 2em 6em;
	background-color: #f2f2f2;
	border-radius: 10px;
}

.doctor-card {
	display: flex;
	background-color: #f2f2f2;
	border-radius: 10px;
	width: 50%;
	padding: 2em;
	margin: 2em auto;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.doc-image {
	flex: 1;
	text-align: center;
	padding: 1em;
	max-width: 10em;
}

.doctor-info {
	flex: 3;
	font-size: 1em;
	padding: 1em;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	border-radius: 10px;
	padding: 0.5em;
	margin: 0.5em 0.5em;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.row {
	display: flex;
	flex-direction: row;
	margin: 0.5em;
	padding: 0.5em;
}

.profile-card {
	display: flex;
	flex-direction: column;
	text-align: start;
	background-color: #f2f2f2;
	border-radius: 10px;
	width: 30%;
	padding: 2em;
	margin: 2em auto;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.profile-btn {
	display: flex;
	padding-left: 1em;
	border: none;
	background: transparent;
	cursor: pointer;
}

.profile-btn img {
	width: 60%;
}
.profile-info {
	text-align: start;
	padding: 1em;
}

.profile-info p {
	margin: 0;
	margin-bottom: 10px;
}
.profile-section {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.profile-header {
	display: flex;
	flex-direction: row;
}

.btn-group {
	display: flex;
	flex-direction: row;
}

/* === BOTH ===================================================================================================================================== */
/* --- Landing Page ----------------------------------------------------------------------------------------------------------------------------- */
.landing-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#landingLoginBtn {
	border: none;
	width: 300px;
	height: 60px;
	border-radius: 38px;
	background: #15c193;
	color: #ffffff;
	font-size: 20px;
}

#landingLoginBtn:hover {
	background-color: #15c1b3;
}

#landingSignUpBtn {
	border: none;
	background: none;
	color: #1590c1;
	font-size: 14px;
	text-decoration: underline;
}

#landingSignUpBtn:hover {
	color: #0056b3;
}

#landingLogin,
#landingSignUp {
	position: fixed;
	padding: 60px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	z-index: 1000;
}

#landingLoginForm input[type='text'],
#landingLoginForm input[type='password'],
#landingLoginForm input[type='email'],
#landingSignUpForm input[type='text'],
#landingSignUpForm input[type='password'],
#landingSignUpForm input[type='email'] {
	margin: 10px 0;
	padding: 15px;
	width: 300px;
	height: 30px;
	border: 1px solid #999;
	border-radius: 20px;
	background-color: #d9d9d9;
}

#landingSignUpForm textarea {
	margin: 10px 0;
	padding: 15px;
	width: 300px;
	height: 60px;
	border: 1px solid #999;
	border-radius: 20px;
	background-color: #d9d9d9;
}

#landingSignUpForm input[type='date'] {
	margin: 10px 0;
	padding: 15px;
	width: 300px;
	height: 30px;
	border: 1px solid #999;
	border-radius: 20px;
	background-color: #d9d9d9;
	appearance: none;
}

#landingSignUpForm input[type='date']::-webkit-calendar-picker-indicator {
	background-color: transparent;
}

#LoginBtn,
#SignUpBtn,
.cancelBtn {
	border: none;
	width: 300px;
	height: 55px;
	border-radius: 20px;
	background: #15c193;
	color: #ffffff;
	font-size: 20px;
}

#LoginBtn:hover,
#SignUpBtn:hover {
	background-color: #15c1b3;
}

/* End: Landing Page ---------------------------------------------------------------------------------------------------------------------------- */
/* END: BOTH ==================================================================================================================================== */

/* === USER ===================================================================================================================================== */
/* --- User - Main Page ------------------------------------------------------------------------------------------------------------------------- */
.message {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 10em;
	left: 50%;
	border-radius: 1em;
	transform: translateX(-50%);
	width: 100%;
	max-width: 500px;
	background-color: #77dd77;
	color: black;
	text-align: center;
	padding: 10px;
	z-index: 9999;
	margin: 0 auto;
	box-sizing: border-box;
}

.message button {
	width: 10%;
}

.message img {
	width: 50%;
}

#booknewappointment {
	border: none;
	float: right;
	width: 250px;
	height: 55px;
	border-radius: 30px;
	background: #15c193;
	color: #ffffff;
	font-size: 18px;
}

.appointment-timings {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	margin: 0.5em 0.5em;
}

.appointment-details {
	display: flex;
	flex-direction: column;
}

#appointmentForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.time-card {
	background-color: #bfebf8;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 1em;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
}

.selected {
	background: #17a7d3 !important;
	color: white !important;
}

.booked {
	background: #bcbcbc !important;
	color: #bcbcbc !important;
}

.days-of-week {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	margin: 0.5em 0.5em;
}

.day-card {
	background-color: #bfebf8;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 1em;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
}

#appointmentType {
	padding: 10px;
	height: 45px;
	width: 320px;
	border: none;
	border-radius: 10px;
	background: #17a7d3;
	color: #ffffff;
	font-size: 18px;
	margin: 1em;
}

.submitBtn {
	border: none;
	float: center;
	width: 250px;
	height: 55px;
	margin: 1em;
	border-radius: 30px;
	background: #15c193;
	color: #ffffff;
	font-size: 18px;
}

.button-image {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
}

.commentbox {
	padding: 10px;
	width: 320px;
	height: 100px;
	border: 1px solid #000000;
	border-radius: 10px;
	font-size: 14px;
}
